<h1>Hello World from index</h1>

<a href="/demo/hello">Hello Page 1</a>

<hr/>

<%= link_to("Hello Page 2", {:action => "hello"}) %>

<hr/>

<%= link_to("Hello with Parameters", {:action => "hello", :page => 5, :id => 20}) %>
